[submodule "alacritty/.config/alacritty/themes"]
	path = alacritty/.config/alacritty/themes
	url = git@github.com:alacritty/alacritty-theme.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "esoteric"]
	path = esoteric
	url = git@github.com:kodova/esoteric.git
[submodule "genius-monkey"]
	path = genius-monkey
	url = git@github.com:kodova/genius-monkey.git
